@mixin centering() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hoverPagination() {
  cursor: pointer;
  border: 1px black solid;
  border-radius: 50%;
  transition: border 0.5s;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.container {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-flow: column;
  border: 1px solid #a1a8ad;
  min-width: 1000px;

  &__title {
    @include centering();
  }
}

.table {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  height: 100%;
  border-top: 1px solid #a1a8ad;
  background-color: whitesmoke;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    flex-basis: 50px;

    &-id {
      @include centering();
      flex: 0 0 10%;
      font-family: Colus, sans-serif;
      border-right: #a1a8ad solid 1px;
      border-bottom: #a1a8ad solid 2px;
      font-size: 20px;
    }

    &-title {
      @include centering();
      flex: 0 0 40%;
      border-right: #a1a8ad solid 1px;
      border-bottom: #a1a8ad solid 2px;
      font-size: 20px;
      font-family: Colus, sans-serif;
    }

    &-date {
      @include centering();
      flex: 0 0 20%;
      border-right: #a1a8ad solid 1px;
      border-bottom: #a1a8ad solid 2px;
      font-size: 20px;
      font-family: Colus, sans-serif;
    }

    &-edit {
      @include centering();
      flex: 0 0 29.8%;
      border-bottom: #a1a8ad solid 2px;
      font-size: 20px;
      font-family: Colus, sans-serif;
    }
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    flex-basis: 50px;

    &-id {
      @include centering();
      flex: 0 0 10%;
      border-right: #a1a8ad solid 1px;
      border-bottom: #a1a8ad solid 1px;
      font-size: 20px;
    }

    &-title {
      @include centering();
      flex: 0 0 40%;
      border-right: #a1a8ad solid 1px;
      border-bottom: #a1a8ad solid 1px;
      font-size: 18px;
      font-family: Colus, sans-serif;
    }

    &-date {
      @include centering();
      flex: 0 0 20%;
      border-right: #a1a8ad solid 1px;
      border-bottom: #a1a8ad solid 1px;
      font-size: 18px;
      font-family: Colus, sans-serif;
    }

    &-edit {
      @include centering();
      flex: 0 0 29.8%;
      border-bottom: #a1a8ad solid 1px;
      font-size: 18px;
      font-family: Colus, sans-serif;
    }
  }
}

.pagination {
  background-color: whitesmoke;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 40px;

  &__wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    flex-basis: 700px;
  }

  &__last {
    @include centering();
    border: 1px solid whitesmoke;
    flex: 0 0 4%;
    margin: 5px 2px;
    font-size: 14px;
    font-family: Segoe Print, sans-serif;

    &:hover {
      @include hoverPagination();

    }
  }

  &__number {
    @include centering();

    border: 1px solid whitesmoke;
    flex: 0 0 5.5%;
    font-family: Colus, sans-serif;

    &:hover {
      @include hoverPagination();
    }

    &:focus {
      background: green;
    }

    &_active {
      cursor: pointer;
      border: 1px black solid;
      border-radius: 50%;
    }
  }

  &__next {
    @include centering();
    border: 1px solid whitesmoke;
    flex: 0 0 4%;
    margin: 5px 2px;
    font-size: 14px;
    font-family: "Microsoft YaHei UI", sans-serif;

    &:hover {
      @include hoverPagination();
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 0 0 3%;
    margin: 7px 0;
  }

  &__start {
    @include centering();
    border: 1px solid whitesmoke;
    flex: 0 0 4%;
    margin: 5px 2px;
    font-size: 14px;
    font-family: "Microsoft YaHei UI", sans-serif;

    &:hover {
      @include hoverPagination();
    }
  }

  &__end {
    @include centering();
    border: 1px solid whitesmoke;
    flex: 0 0 4%;
    margin: 5px 2px;
    font-size: 14px;
    font-family: "Microsoft YaHei UI", sans-serif;

    &:hover {
      @include hoverPagination();
    }
  }
}

.button {
  position: absolute;
  right: 0;
  top: 0;

  &__add {
    text-decoration: none;
    outline: none;
    height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: Segoe Print, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    color: #524f4e;
    background: white;
    transition: .3s;
    border: #a1a8ad solid 1px;

    &:hover {
      background: #a1a8ad;
      color: white;
      transform: translateX(5px);
      cursor: pointer;
      border: #ffffff solid 1px;
    }
  }
}


.create {
  display: flex;
  flex-flow: row nowrap;
  background: #e4e4e4;
  justify-content: space-evenly;
  align-items: center;
  height: 800px;
  min-width: 1000px;

  &__blocks {
    flex: 0 0 37%;
  }

  .blocks {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 95%;
    background: white;
    border-right: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;

    &__header {
      display: flex;
      align-items: center;
      border-top: 1px solid #b8b8b8;
      border-bottom: 1px solid #b8b8b8;
      flex-basis: 30px;
      padding: 0 15px;
      background: #e4e4e4;
    }

    &__title {
      flex: 0 0 4%;
      align-items: center;
      display: flex;
      margin-bottom: 0;
      font-weight: bold;
      padding: 0 12px;
      //border: 1px solid #b8b8b8;
    }

    &__group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
      //border: 1px solid #b8b8b8;
      justify-self: center;
      margin: 10px 0;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 95px;
        height: 80px;
        border: 1px solid #b8b8b8;
        margin: 0px 0 0 20px;

        &_text {
          flex: 0 0 80%;
          height: 85%;
          background: repeating-linear-gradient(0deg, #fff, #fff 10px, #465298 0px, #465298 15px);

        }

        &_1separator {
          @include centering();

          flex: 0 0 80%;
          height: 10%;
          background: #465298;
          border-radius: 2px;
        }

        &_question-answer {

        }
      }
    }
  }

  &__content {
    flex: 0 0 55%;
  }

  .content {
    background: #e4e4e4;
    display: flex;
    flex-flow: column nowrap;
    height: 95%;

    &__header {
      display: flex;
      align-items: center;
      border: 1px solid #b8b8b8;
      flex-basis: 30px;
      padding: 0 15px;
      background: #e4e4e4;
    }

    &__body {
      background: white;
      display: flex;
      flex-flow: column nowrap;
      border: 1px solid #ccc;
      height: auto;
      align-items: stretch;
      padding: 0 15px;
    }
  }
}

.title {
  display: block;

  &:hover .control {
    visibility: visible;
  }

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    font-weight: bold;
  }

  &__box {
    flex: 0 0 100%;
    align-self: center;
    width: 100%;
    border-radius: 3px;
    background: white;
    min-height: 17px;
    border: 1px solid #ccc;
    max-height: 150px;
    box-sizing: border-box;
    resize: none;
    line-height: 24px;
    overflow: auto;
    padding: 0 10px;
    margin-bottom: 10px;

    &:focus {
      outline: none;
    }

    &:hover .control {
      visibility: visible;
    }

  }
}

.border {
  background: #ccc;
  flex-basis: 1px;
  align-self: center;
  width: 100%;
  margin: 10px 0 10px 0;
}

.text {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  border-radius: 3px;
  max-width: 100%;

  &:hover .control {
    visibility: visible;
  }

  &__toolbar {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #ccc;
    background: #e4e4e4;

    &:hover .control {
      visibility: visible;
    }

    &-item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-basis: 40px;
      height: 30px;
      border-right: 1px solid #ccc;
      background: #e4e4e4;

      .item {

        &__wrap {
          display: flex;
          justify-content: stretch;
          border: 1px solid #ccc;
          height: 80%;
          flex-basis: 80%;
          font_size: 14px;

          &-icon {
            @include centering();
            flex: 1;
          }

          &-select {
            @include centering();

            background: #e4e4e4;
            border: 1px none #ccc;
            border-left-style: solid;
            flex: 1;
            font_size: 12px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }


  }

  &__box {
    display: block;
    height: 150px;
    align-self: stretch;
    background: white;
    min-height: 17px;
    max-height: 150px;
    box-sizing: border-box;
    resize: none;
    line-height: 24px;
    overflow: auto;
    padding: 0 10px;
    max-width: 100%;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;

    &:hover .control {
      visibility: visible;
    }

    &:focus {
      outline: none;
    }

  }
}

.control {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  align-self: center;
  visibility: hidden;

  &:hover {
    visibility: visible;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-basis: 97%;
    align-self: center;
    margin-top: 2px;
  }

  &__sort {
    @include centering;

    cursor: pointer;
    font-size: 12px;
    padding-left: 4px;

    &-down {
      @include centering;

      margin-left: 1px;
    }

    &-up {
      @include centering;

      margin-right: 1px;
    }
  }

  &__close {
    @include centering;

    display: flex;
    font-size: 12px;
    padding-right: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}



